{%csrf_token%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정의 데이터 입력</title>
</head>
<body>
    <h2>Django의 form태그를 활용한</h2>
    <!-- 
    장고에서 post 방식으로 요청이 전송되면,
    장고서버에서 인증을 요구함
    이게 CSRF 토큰 {% csrf_token %}
    이 토큰은 form태그내에서 구성함
    이게 없어서 forbidden 403에러가 뜨면서 출력을 거부하는거임
    -->
    <form action="{%url 'data_form'%}" method="post">
        {% csrf_token %} <!-- 이렇게 폼태그 내에 토큰을 써주기만 하면 장고가 알아서 구성해서 주는거임 -->

        <!-- name 속성은 반드시 input태그마다 지정해줘야 서버에 데이터가 정상 전달됨 -->
        이름 : <input type="text" name="name"><br>
        나이 : <input type="text" name="age"><br>
        <input type="submit" value="완료">
        <!-- submit은 서버로의 전송 -->
    </form>
</body>
</html>