<html>
		<head></head>
		<!-- 
		해당 문서에 대한 metadata
		언어, 문서 제목, 추가적으로 필요한 리소스 등...
		 -->
		<body>
			<!-- 
			데이터
			 -->
			<h1 title = "html attribute">hello HTML</h1>
			<h2 title = "html attribute">hello HTML</h2>
			<h6 title="html attribute">hello HTML</h6>
			<!--
			html : hypertext markup language
			markup language : 문서나 데이터 구조를 태그 등을 사용하여 명시하는 언어
			
			ex) <h1>hello</h1> :
								hello : 전달하고자 하는 data
								<h1> : "이 hello는 제목이다." 화면에 제목으로 처리되어야한다는 것을 명시 
			-->
			<!-- 
			tag : <h1></h1>, <h2></h2>, 이렇게 데이터의 메타데이터를 나태니기 위해 사용
			data = hello HTML
			attrivute : title = "html attribute", title이라는 이름의 속성
			element : tag에 구체적인 data와 속성을 지정한 것, <h1 title = "html attribute">hello HTML</h1>

			-->
		</body>
</html>