<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>순서가 없는 목록태그 ul</h1>
    <h2>화면구현</h2>
    <ul>
        <li>HTML5</li>
        <ul>
            <li>글자관련태그</li>
            <li>목록관련태그</li>
        </ul>
        <li>CSS</li>
        <li>JS</li>
    </ul>
    <hr>
    <h1>순서가 있는 목록태그 ol</h1>
    <h2>화면구현</h2>
    <ol>
        <li>HTML5</li>
        <ol>
            <li>글자관련태그</li>
            <li>목록관련태그</li>
        </ol>
        <li>CSS</li>
        <li>JS</li>
    </ol>
    <ol reversed type = "1" start="11">
        <li>HTML5</li>
        <ol>
            <li>글자관련태그</li>
            <li>목록관련태그</li>
        </ol>
        <li>CSS</li>
        <li>JS</li>
        <ul>
            <li>HTML5</li>
            <ul>
                <li>글자관련태그</li>
                <li>목록관련태그</li>
            </ul>
            <li>CSS</li>
            <li>JS</li>
        </ul>
    </ol>

    <h1>설명목록태그</h1>
    <!-- 
        설명목록 : <d1>
        목록에 대한 제목 : <dt>
        목록에 대한 설명 : <dd>
    -->
    <d1>
        <dt>html</dt>
        <dd>hyper text markup languate</dd>
        <dt>css</dt>
        <dd>cascading style sheets<br>
            웹페이지의 외형과 표현을 서술할 때 사용
        </dd>
    </d1>
</body>
</html>