<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        대표적인 
        block요소 : 한 줄의 전체를 영역으로 가지는 요소
            div :
        inline요소 : 한 줄에 여러 개가 올 수 있는 요소
            span :
    F12로 개발자모드 눌러서 확인해보면 차지하는 영역이 다름
    -->
    <h1>1. 영역 관련 태그</h1>
    <h2>div 태그(대표적인 block요소)</h2>
    <div>첫번째 영역</div>
    <div>두번째 영역</div>
    <div>세번째 영역</div>

    <h2>span 태그(inline요소)</h2>
    <span>첫번째 영역</span>
    <span>두번째 영역</span>
    <span>세번째 영역</span>
    
    <!--
    표처럼 구성하는 것도 가능하다.
    -->
    <div>
        <span>첫번째 영역</span>
        <span>두번째 영역</span>
        <span>세번째 영역</span>
    </div>

    <div>
        <span>첫번째 영역</span>
        <span>두번째 영역</span>
        <span>세번째 영역</span>
    </div>

</body>
</html>