<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>html 실습 목록</h1>
    <ul>
        <!-- href에 경로대신 별명을 사용할수도 있다. {% url 'a' %}-->
        <li><a href="{% url 'a' %}">a_hello</a></li> 
        <li><a href="/b/">글자관련 태그</a></li>
        <li><a href="/c/">목록관련 태그</a></li>
        <li><a href="/d/">표관련 태그</a></li>
        <li><a href="/e/">영역관련 태그</a></li>
        <li><a href="/f/">이미지관련 태그</a></li>
        <li><a href="/g/">미디어관련 태그</a></li>
        <li><a href="/h/">하이퍼링크 태그</a></li>
        <li><a href="/i/">form 태그</a></li>
    </ul>
    <!-- <h4><a href="#">a_hello</a></h4>
    <h4><a href="#">b_글자관련</a></h4>
    <h4><a href="#">c_목록관련</a></h4>
    <h4><a href="#">d_표</a></h4>
    <h4><a href="#">e_영역관련</a></h4>
    <h4><a href="#">f_이미지관련</a></h4>
    <h4><a href="#">g_미디어관련</a></h4>
    <h4><a href="#">h_하이퍼링크</a></h4>
    <h4><a href="#">i_form</a></h4> -->
</body>
</html>