.btn{
    width: 30vw;
    height: 8vw; 
    margin: 30px;

    border-style: outset;
    border-width: 1vmax;
    border-radius: 20px;
    
    font-size: 2vmax;
    color:white;
}

.btn_red{
    background-color: coral;
}

.btn_blue{
    background-color: lightblue;
}

.btn_green{
    background-color: lightgreen;
}

.btn_pink{
    background-color: pink;
}

.btn:hover{
    border-style: inset;
    color: blue;
}
