<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>후기 입력</h1>
    <form action="{%url 'input'%}" method="POST">
        {% csrf_token %}
        <div>제목 :<input type="text" name="sub"></div>
        <br>
        <div>내용 :<textarea type="text" name="cont"></textarea></div>
        <br>
        <!-- <button>submit</button> -->
        <div><input type="submit" value="완료"></div> 
    </form>
</body>
</html>